.serviciosBanner1{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../assets/scott-blake-x-ghf9LjrVg-unsplash.jpg);
    background-position:top;
    background-size: 1500px;
    background-attachment: fixed;
    @include flex(flex, center, center);
    h1{
        font-size: 35px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

.serviciosBanner2{
    h2{
        font-size: 45px;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 60px;
    }

}
.cardContainer2{
    @include flex(flex, center, center);
    gap: 70px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    .card{
        box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.199);
        border-radius: 10px;
        .cardImg{
            width: 289px;
            @include flex(flex, center, center);
            img{
                height: 200px;
            }
        }
        .cardContenido{
            height: 150px;
            display: flex;
            justify-content: center;
            p{
                font-size: 24px;
                padding-top: 5px;
                text-align: center;
            }
        }
    }
}